<div class="container">

  <form class="well form-horizontal" action=" "method="post" id="contact_form">
<fieldset>



<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">Name</label>  
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input  name="name" placeholder=" Name" class="form-control" 
 type="text"[(ngModel)]="name" >
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label" >EMPLOYEE ID</label> 
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input name="last_name" placeholder="ID" class="form-control" 
type="text" [(ngModel)]="employeeId">
  </div>
</div>
</div>

<div class="form-group"> 
<label class="col-md-4 control-label">Department / Office</label>
  <div class="col-md-4 selectContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
  <select name="department" [(ngModel)]="department" class="form-control selectpicker">
    <option value="">Select your Department/Office</option>
    <option>Department of Engineering</option>
    <option>Department of Agriculture</option>
    <option >Accounting Office</option>
    <option >Tresurer's Office</option>
    <option >MPDC</option>
    <option >MCTC</option>
    <option >MCR</option>
    <option >Mayor's Office</option>
    <option >Tourism Office</option>
  </select>
</div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">EDUCATION</label>  
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input  name="user_name" placeholder="education" class="form-control" 
type="text" [(ngModel)]="education" >
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label" >DATE OF BIRTH</label> 
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input name="user_password" placeholder="DOB" class="form-control"
type="datetime-local" [(ngModel)]="dateofbirth">
  </div>
</div>
</div>

<!-- Text input-->


<!-- Text input-->
     <div class="form-group">
<label class="col-md-4 control-label">E-Mail</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
<input name="email" placeholder="E-Mail Address" class="form-control" 
type="text"[(ngModel)]="email">
  </div>
</div>
</div>


<!-- Text input-->
     
<div class="form-group">
<label class="col-md-4 control-label">Contact No.</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
<input name="contact_no" placeholder="(639)" class="form-control"
 type="text" [(ngModel)]="contact ">
  </div>
</div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="save"></label>
  <div class="col-md-8">
 <button id="save" name="save"class="btn btn-success">Register</button>
    <button id="clear" name="clear" class="btn btn-danger">Reset</button>
  </div>
</div>




</fieldset>
</form>
</div>
