<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
  <fieldset>
  
  
  
  <!-- Text input-->
  
  <div class="form-group">
  <label class="col-md-4 control-label">DATE OF JOIN</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="name"class="form-control" 
   type="text"[(ngModel)]="dateofjoin" >
    </div>
  </div>
  </div>
  
  <!-- Text input-->
  
  <div class="form-group">
  <label class="col-md-4 control-label" >JOBTITLE</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" class="form-control" 
  type="text" [(ngModel)]="jobTitle">
    </div>
  </div>
  </div>

<div class="form-group">
    <label class="col-md-4 control-label" >SALARY</label> 
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input name="last_name"  class="form-control" 
    type="text" [(ngModel)]="salary">
      </div>
    </div>
    </div>
